DB_HOST=localhost           
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=subscriptions
DB_SSLMODE=disable

CACHE=true                  #may be "y", "yes", "true", "t", "1", DEFAULT false
CACHE_TTL_IN_SECONDS=300    #may be only integer > 0 or empty, DEFAULT 300
LOGGING_USER_ERROR=false     #may be "y", "yes", "true", "t", "1", DEFAULT false

SERVER_ADDR=localhost       #DEFAULT "localhost"
SERVER_PORT=8080            #ONLY INTEGER > 0, DEFAULT 8080

GOOSE_DRIVER=postgres                   #какую базу данных мы используем   
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/subscriptions   #строчка для подключения к нашей базе данных в формате: название_субд://имя_пользователя:пароль@хост:порт/имя базы данных
GOOSE_MIGRATION_DIR=./migrations        #место где хранятся файлы миграции